<!DOCTYPE html>
<html>
<head>
	<title>Vue Course</title>
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	
	<div id="app" v-cloak>
		<p v-bind:title="makeTooltip">
			{{ title }}
		</p>
		<p v-once>{{title}}</p>
		<p v-text='title'></p>
		<div v-html="myHtml"></div>
		<div v-pre>{{title}}</div>
		
		<div v-if="condition">TRUE</div>
		<div v-else>False</div>
		<div v-show>V-SHOW</div>
		
		<hr>
		
		<ul>
			<li v-for="(value, index) in items" v-bind:key="value.message">
				{{ index }} - {{ value.message }} 
			</li>
		</ul>
	</div>

	<!-- <button v-on:click="showAlert">
		CLICK ME
	</button> -->

	<!-- <input type="text" name="" v-bind:value="title" v-on:input="title = $event.target.value"> -->

	<!-- <input type="text" name="" v-model="title"> <!-- синтаксич сокращение-->

	<script src="vue.js"></script>

	<script type="text/javascript">
		const app = new Vue({
			el: '#app',
			data: function() {
				return {
					title: "Hello Vue",
					tooltip: "Я всплывающая подсказка",
					condition: true,
					items: [
						{message: 'первый'},
						{message: 'первый'},
						{message: 'первый'},
						{message: 'первый'}
					],
					myHtml: "<hr><hr>"
				}
			},
			methods: {
				makeTooltip: function() {
					return this.title + this.tooltip
				},
				showAlert: function() {
					alert: this.title
				}
			}
		});
		console.log(app.mylist);
	</script>
</body>
</html>